
<style>
    h2{text-align: center; margin: 2%; color: black;}
</style>
<h2>Chose Your Muscle Group!</h2>

{{#each muscleGroups as |muscleGroup|}}
<div class="container-fluid" id="muscleCard">  
    <div class="row gy-3 justify-content-center">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card">
                    <img src="https://img.freepik.com/free-photo/image-full-body-athletic-male-doing-squats-with-dumbbells-gym-club_613910-1215.jpg?w=1480&t=st=1684337468~exp=1684338068~hmac=cbce064baecfffad0683954faa163444705ce9fe3a60cb250d72a259414d08fb" class="card-img-top" alt="Picture">
                    <div class="card-body">
                        <h5 class="card-title">{{muscleGroup.muscleGroup}}</h5>
                        <a href="/workout/{{muscleGroup.id}}" class="btn btn-dark">See Workouts!</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

{{/each}}