
<style>
    h2{text-align: center; margin: 2%; color: black;}
</style>
<h2>Chose Your Muscle Group!</h2>


<div class="container-fluid">
<div class="row gy-3 justify-content-center">
    <div class="col-md-4">
        <div class="card h-100">
        <div class="card">
    <img src="https://img.freepik.com/free-photo/image-full-body-athletic-male-doing-squats-with-dumbbells-gym-club_613910-1215.jpg?w=1480&t=st=1684337468~exp=1684338068~hmac=cbce064baecfffad0683954faa163444705ce9fe3a60cb250d72a259414d08fb" class="card-img-top" alt="Picture">
    <div class="card-body">
        <h5 class="card-title">Glutes/Hammies</h5>
        <a href="/workout/{{musclegroup.id}}" class="btn btn-dark">See Workouts!</a>
        </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
         <div class="card h-100">
        <div class="card">
    <img src="https://img.freepik.com/free-photo/young-man-lifting-weights-gym_23-2148353083.jpg?t=st=1684337188~exp=1684337788~hmac=c5e685e43fb14d164abd085414839b8d58d932c4116d2dd383747479140e97d8" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Chest/Shoulders/Triceps</h5>
        <a href="./workout/2" class="btn btn-dark">See Workouts!</a>
        </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
        <div class="card">
    <img src="https://img.freepik.com/free-photo/sports-brunette-woman-sportswear-training-gym_1157-30735.jpg?w=1800&t=st=1684337312~exp=1684337912~hmac=a42999257aa3a0eecf49123acd9437e11cf777e198d0fefee572c7e5c534d73b" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Quads/Calves</h5>
        <a href="/workout/3" class="btn btn-dark">See Workouts!</a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
          <div class="card h-100">
        <div class="card">
    <img src="https://img.freepik.com/free-photo/back-view-woman-exercising-with-dumbbells_23-2147789670.jpg?w=1800&t=st=1684337369~exp=1684337969~hmac=b32034d31ac334851f18bf823c904aa94833cee2996db8ccb5cfc0c21f3dbfc5" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Back/Biceps</h5>
        <a href="/workout/4" class="btn btn-dark">See Workouts!</a>
        </div>
    </div>
    </div>
    </div>
    <div class="col-md-4">
         <div class="card h-100">
        <div class="card">
    <img src="https://as1.ftcdn.net/v2/jpg/01/97/49/62/1000_F_197496268_SpB56BkTA48ICbZMeIdUvNUEXe03qX38.jpg" class="card-img-top" alt="Cardio">
    <div class="card-body">
        <h5 class="card-title">Cardio/Core</h5>
        <a href="/workout/5" class="btn btn-dark">See Workouts!</a>
        </div>
    </div>
    </div>
    </div>  
</div>


<ul>
    
    {{#each muscleGroups}}
    <btn>
        
        {{muscleGroup}}
    </btn>
    {{/each}}
</ul>
