<div class="row" id="reviewBody">
  <div class="col-md-6">
    <h2>How was your workout? Leave a review!</h2>

    <form class="form review-form">
      <div class="form-group">
        <textarea class="form-input" rows="15" cols="80" type="text" id="review-input"></textarea>
        <br>
       <h4>Enter your username: 
        <input id="usernameInput" size="40"></input>
      </h4>
      </div>
      <div class="form-group">
        <br>
        <br>
        <button id="userReview" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

  <section class="container row">
    <ul>
        {{#each UserData as |data|}}
        <li class="col-3">
            <a href="/review/{{data.id}}">
            {{data.text}}
            </a>
        </li>
        {{/each}}
    </ul>
</section>

<script src="/js/index.js"></script>
  