
<div class="muscleGroup">
    <h1>
    {{muscleGroup}}
    </h1>
</div>
<div>
    {{#each workouts}}
    <div class="workout-title">
        <h2>
        {{exerciseTitle}}
        </h2>
    </div>
    <div class="workout-instructions">
        <p>
        {{instructions}}
        </p>
    </div>
    {{/each}}
</div>

<button class="workout-btn">Workout Complete</button>
