body {
    background-color: rgb(239, 239, 244);
}

.muscleGroup{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.workout-title {
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    margin-top: 20px;
    margin-left: 4vb;
    margin-right: 4vb;
}

.workout-instructions {
    margin: 0 10vb;

}

.workout-instructions p {
    text-align: center;
}

.workout-btn{
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    background-color:rgb(155, 154, 153);;
    margin-top: 1vb;
    margin-bottom: 1vb;
    margin-left: 50%;
    
}
.workout-btn:hover {
    cursor: pointer;
    box-shadow:0 0.4rem 1.4rem 0 rgb(194, 146, 25);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}